<?xml version="1.0" encoding="UTF-8"?>
<ims>
    <menu name="userMenu" code="0001" parent="">
        <item code="00010001" parent="0001" permissionIndex="0" pageName="基本资料">
            <item code="000100010001" parent="00010001" permissionIndex="1" pageName="组织机构" />
            <item code="000100010002" parent="00010001" permissionIndex="2" pageName="仓储及货架" />
            <item code="000100010003" parent="00010001" permissionIndex="3" pageName="物品管理" />
            <item code="000100010004" parent="00010001" permissionIndex="4" pageName="银行帐号" />
            <item code="000100010005" parent="00010001" permissionIndex="5" pageName="人力资源" />
        </item>
        <item code="00010002" parent="0001" permissionIndex="6" pageName="库存管理">
            <item code="000100020001" parent="00010002" permissionIndex="7" pageName="库存交易管理" />
            <item code="000100020002" parent="00010002" permissionIndex="8" pageName="库存控制" />
            <item code="000100020003" parent="00010002" permissionIndex="9" pageName="库存水平" />
            <item code="000100020004" parent="00010002" permissionIndex="10" pageName="库存货物差异分析" />
        </item>
         <item code="00010003" parent="0001" permissionIndex="11" pageName="库存业务">
            <item code="000100030001" parent="00010003" permissionIndex="12" pageName="入库" />
            <item code="000100030002" parent="00010003" permissionIndex="13" pageName="出库" />
            <item code="000100030003" parent="00010003" permissionIndex="14" pageName="调价" />
            <item code="000100030004" parent="00010003" permissionIndex="15" pageName="盘点" />
            <item code="000100030005" parent="00010003" permissionIndex="16" pageName="物品损耗" />
            <item code="000100030006" parent="00010003" permissionIndex="17" pageName="初期库存" />
        </item>
         <item code="00010004" parent="0001" permissionIndex="18" pageName="财务报表">
            <item code="000100040001" parent="00010004" permissionIndex="19" pageName="物料库存报表" />
            <item code="000100040002" parent="00010004" permissionIndex="20" pageName="财务结算" />
            <item code="000100040003" parent="00010004" permissionIndex="21" pageName="库存资产" />
        </item>
         <item code="00010005" parent="0001" permissionIndex="22" pageName="领导审批">
            <item code="000100050001" parent="00010005" permissionIndex="23" pageName="出入库审批" />
            <item code="000100050002" parent="00010005" permissionIndex="24" pageName="盘点审批" />
        </item>
    </menu>
    
    <menu name="sysMenu" code="0001" parent=""></menu>
</ims>  