
.left_body{
background-image:url(../images/sub_con_bg.jpg);
background-repeat:repeat-x;
position:absolute; 
width:1002px;
height:500px;
top:156px;
margin-left:0px;
}

.left_menu{
background-image:url(../images/lmenu_bg.jpg);
background-repeat:no-repeat;
position:absolute;
left:2px;
top:15px;
height:481px;
weigth:200;
}

.left_menu_head{
width:179px;
height:35px;
color:#E0F2F9;
font-size:13px;
font-weight:bold;
padding-top:12px;
padding-left:53px;
margin-bottom:12px;
}

.left_menu_table{
text-align:center;
width:160px;
color:#0C6A9D;
font-size:15px;
font-weight:bold;
padding-top:12px;
margin-left:11px;
margin-top:1px;
}

.left_menu_table_td{
background-image:url(../images/lmenu_item_bg.jpg);
background-repeat:no-repeat;
vertical-align:left;
}
