body{
background-image:url(../images/bg.jpg);
background-repeat:no-repeat;
font-family:Arial, Helvetica, sans-serif;
}

p{
margin:5px;
}

.login_top{
background-image:url(../images/top_login.jpg);
background-repeat:no-repeat;
width:1002px;
height:145px;
position:absolute; 
left:0px; 
top:0px; 
}

.login_left{
background-image:url(../images/login_table_bg.jpg);
background-repeat:no-repeat;
width:391px;
height:194px;
position:absolute; 
left:116px; 
top:226px; 
}

.border_user{
margin-top:66px; 
margin-left:108px; 
padding-left:5px;
border-top-style:none;
border-right-style:none;
border-left-style:none;
border-bottom-style:none;
width:195px; 
height:19px;
background-color:#DFF3F8;
border:thin;
border-bottom-color:#0B4E77;
color:#668395;
font-family:Arial, Helvetica, ¡°ËÎÌå¡±
}

.border_pwd{
position:absolute; 
margin-top:18px; 
margin-left:108px; 
padding-left:5px;
border-top-style:none;
border-right-style:none;
border-left-style:none;
border-bottom-style:none;
width:195px; 
height:19px;
background-color:#DFF3F8;
border:thin;
border-bottom-color:#0B4E77;
color:#668395;
font-family:Arial, Helvetica, ¡°ËÎÌå¡±
}

.btn_admin{
background-image:url(../images/btn_admin.jpg);
background-repeat:no-repeat;
border:0px;
position:absolute; 
width:93px;
height:22px;
margin-top:1px;
margin-left:125px;
}

.btn_login{
background-image:url(../images/btn_login.jpg);
background-repeat:no-repeat;
border:0px;
position:absolute; 
width:93px;
height:22px;
margin-top:58px;
margin-left:108px;
}

.btn_reset{
background-image:url(../images/btn_reset.jpg);
background-repeat:no-repeat;
border:0px;
position:absolute; 
width:93px;
height:22px;
margin-top:58px;
margin-left:211px;
}

.login_line{
width:1px;
height:255px;
background-color:#647F8F;
position:absolute; 
left:554px; 
top:206px; 
}


.title{
text-indent:0px;
color:06334E; 
font-size:14px; 
font-weight:bold}

.login_right{
width:250px;
height:195px;
position:absolute; 
left:595px;
top:226px;
text-align:left;
text-indent:20px;
padding-top:0px;
font-size:12px;
color:#4C555E;
line-height:19px;
}

.login_foot{
background-image:url(../images/foot_bg_login.jpg);
background-repeat:repeat-x;
width:1002px;
height:27px;
position:absolute; 
left:0px;
margin-top:573px;
text-align:right;
padding-top:7px;
padding-right:30px;
font-size:12px;
color:#9EBBD2;
}