body{
font-family:Arial, Helvetica, "ËÎÌå";
}

p{
margin:5px;
}

a{text-decoration:none;}

a.a_top:link{
color:#0C6A9D;
}
a.a_top:active{
color:#0280C5;
}
a.a_top:hover{
color:#0280C5;
text-decoration:underline;
}
a.a_top:visited{
color:#0C6A9D;
}

a.edit:link{
color:#FF4000;
}
a.edit:active{
color:#FF4000;
}
a.edit:hover{
color:#0C92D1;
text-decoration:underline;
}
a.edit:visited{
color:#FF4000;
}


.sub_top{
background-image:url(../images/sub_top_bg.jpg);
background-repeat:no-repeat;
width:1002px;
height:80px;
position:absolute; 
left:0px; 
top:0px;
color:#0C6A9D;
font-size:12px;
font-weight:bold;
padding-top:45px;
padding-left:868px;
}

.sub_menu_top{
background-image:url(../images/orgstructure_menu_bg1.jpg);
background-repeat:no-repeat;
position:absolute;
left:0px;
top:0px;
width:1002px;
height:39px;
}

.sub_menu_bottom{
background-image:url(../images/orgstructure_menu_bg2.jpg);
background-repeat:no-repeat;
position:absolute;
left:0px;
top:39px;
width:1002px;
height:39px;
}

.sub_menu_item1{
background-image:url(../images/orgstructure_menu_bg_select.jpg);
background-repeat:no-repeat;
background-position:center;
background-position:top;
color:#0E5E8E;
font-size:14px;
font-weight:bold;
position:absolute;
left:0px;
width:155px;
height:39px;
text-align:center;
padding-top:14px;
}
.sub_menu_item2{
color:#ffffff;
font-size:14px;
font-weight:bold;
position:absolute;
left:155px;
width:136px;
height:39px;
text-align:center;
padding-top:14px;
}
.sub_menu_item3{
color:#ffffff;
font-size:14px;
font-weight:bold;
position:absolute;
left:291px;
width:138px;
height:39px;
text-align:center;
padding-top:14px;
}
.sub_menu_item4{
color:#ffffff;
font-size:14px;
font-weight:bold;
position:absolute;
left:429px;
width:138px;
height:39px;
text-align:center;
padding-top:14px;
}
.sub_menu_item5{
color:#ffffff;
font-size:14px;
font-weight:bold;
position:absolute;
left:567px;
width:138px;
height:39px;
text-align:center;
padding-top:14px;
}
.sub_menu_item6{
color:#ffffff;
font-size:14px;
font-weight:bold;
position:absolute;
left:705px;
width:138px;
height:39px;
text-align:center;
padding-top:14px;
}

.sub_menu_subItem1{
color:#0C5580;
font-size:12px;
font-weight:bold;
position:absolute;
left:30px;
width:94px;
height:39px;
text-align:center;
padding-top:14px;
}
.sub_menu_subItem2{
color:#0C5580;
font-size:12px;
font-weight:bold;
position:absolute;
left:124px;
width:94px;
height:39px;
text-align:center;
padding-top:14px;
}
.sub_menu_subItem3{
color:#0C5580;
font-size:12px;
font-weight:bold;
position:absolute;
left:218px;
width:94px;
height:39px;
text-align:center;
padding-top:14px;
}
.sub_menu_subItem4{
color:#0C5580;
font-size:12px;
font-weight:bold;
position:absolute;
left:312px;
width:94px;
height:39px;
text-align:center;
padding-top:14px;
}
.sub_menu_subItem5{
color:#0C5580;
font-size:12px;
font-weight:bold;
position:absolute;
left:406px;
width:94px;
height:39px;
text-align:center;
padding-top:14px;
}

.orgstructure_table_operate{
font-size:12px;
color:#0C5F8F;
position:absolute;
top:45px;
left:181px;
vertical-align:text-bottom;
}

.search_border{
width:155px;
height:18px;
border:1 solid #88BDD1;
padding-left:3px;
color:#9DB2BF;
}

.lmenu{
background-image:url(../images/lmenu_bg.jpg);
background-repeat:no-repeat;
position:absolute;
left:5px;
top:15px;
height:481px;
}

.lmenu_tit{
width:179px;
height:35px;
color:#E0F2F9;
font-size:13px;
font-weight:bold;
padding-top:12px;
padding-left:53px;
margin-bottom:12px;
}

.lmenu_item{
background-image:url(../images/lmenu_item_bg.jpg);
background-repeat:no-repeat;
width:167px;
height:32px;
color:#0C6A9D;
font-size:13px;
font-weight:bold;
padding-top:12px;
padding-left:53px;
margin-left:11px;
}

.sub_con{
background-image:url(../images/sub_con_bg.jpg);
background-repeat:repeat-x;
position:absolute; 
width:1002px;
height:214px;
top:0px;
left:0px;
}

.sub_foot{
background-image:url(../images/sub_foot_bg.jpg);
background-repeat:repeat-x;
width:1002px;
height:46px;
position:absolute; 
left:0px;
margin-top:0px;
text-align:center;
padding-top:18px;
font-size:12px;
color:#E5F4FA;
}

.orgstructure_con_tit{
background-image:url(../images/orgstructure_con_tit_bg.jpg);
background-repeat:no-repeat;
width:629px;
height:62px;
position:absolute; 
top:16px;
left:5px;
}

.orgstructure_con{
background-image:url(../images/orgstructure_con_bg.jpg);
background-repeat:repeat-y;
width:629px;
height:407px;
position:absolute; 
top:77px;
left:5px;
}

.orgstructure_con_tit_text{
font-size:15px;
color:#0C5F8F;
font-weight:bold;
margin-top:16px;
margin-left:49px;
}

.orgstructure_con_foot{
background-image:url(../images/orgstructure_con_foot_bg.jpg);
background-repeat:no-repeat;
width:629px;
height:12px;
position:absolute; 
top:404px;
left:0px;
}

.rmenu01{
background-image:url(../images/rmenu01_tit_bg.jpg);
background-repeat:no-repeat;
position:absolute;
left:834px;
top:15px;
width:160px;
height:171px;
}

.rmenu01_con{
padding-left:24px;
font-size:12px;
color:#666666;
}

.rmenu01_con_user{
color:#0C92D1;
font-weight:bold;
text-decoration:underline;
}

.rmenu01_con_date{
padding-top:5px;
text-indent:18px;
}

.rmenu01_con_edit{
padding-top:5px;
color:#FF4000;
text-indent:18px;
}

.rmenu01_con_indent{
padding-left:18px;}


.rmenu_tit{
width:179px;
height:35px;
color:#E0F2F9;
font-size:13px;
font-weight:bold;
padding-top:12px;
padding-left:45px;
margin-bottom:12px;
}

.rmenu02{
background-image:url(../images/rmenu02_tit_bg.jpg);
background-repeat:no-repeat;
position:absolute;
left:834px;
top:197px;
width:160px;
height:298px;
}

.rmenu02_item_tit{
color:#0C5F8F;
font-weight:bold;
padding-top:5px;
padding-right:10px;
}

.rmenu02_item_con{
padding-top:3px;
padding-bottom:15px;
padding-left:15px;
}

.orgstructure_table_tit{
background-image:url(../images/orgstructure_table_tit_bg.jpg);
background-repeat:no-repeat;
width:607px;
height:31px;
margin-left:11px;
font-size:13px;
font-weight:bold;
}

.orgstructure_table_th1{
width:47px;
height:23px;
position:absolute; 
margin-top:12px;
margin-left:10px;
text-align:center;
}
.orgstructure_table_th2{
width:70px;
height:23px;
position:absolute; 
margin-top:12px;
margin-left:47px;
text-align:center;
}
.orgstructure_table_th3{
width:142px;
height:23px;
position:absolute; 
margin-top:12px;
margin-left:117px;
text-align:center;
}
.orgstructure_table_th4{
width:146px;
height:23px;
position:absolute; 
margin-top:12px;
margin-left:259px;
text-align:center;
}
.orgstructure_table_th5{
width:142px;
height:23px;
position:absolute; 
margin-top:12px;
margin-left:435px;
text-align:center;
}

.orgstructure_table{
background-color:#B4BCC2;
width:607px;
border:0px;
margin-left:11px;
}

.orgstructure_table_td_odd{
background-color:#FFFFFF;
font-size:12px;
text-align:center;
vertical-align:middle;
height:23px;
color:#636B6D;
}

.orgstructure_table_td_even{
background-color:#E6ECF1;
font-size:12px;
text-align:center;
vertical-align:middle;
height:23px;
color:#636B6D;
}

.pages{
font-size:12px;
text-align:right;
padding-right:10px;
padding-top:7px;}

.pages_border{
width:40px;
height:18px;}

/* sub1 ----------------------------------------------------------------------------------------*/

.sub1_body{
background-image:url(../images/sub1_bg.jpg);
background-repeat:repeat-x;
}

.sub1_title{
font-size:14px;
font-weight:bold;
color:#045381;
position:absolute; 
top:37px;
left:37px}

.sub1_con{
position:absolute;
top:90px;
left:55px;
font-size:12px;
color:#0C5F8F;
}

.sub1_border{
width:212px;
height:20px;
margin-left:5px;
margin-top:5px;
padding-left:8px;
background-color:#F6FDFF;
border:1px solid;
border-color:#8195A0;
color:#668395;
font-family:Arial, Helvetica, ¡°ËÎÌå¡±}

.sub1_textarea{
width:340px;
height:170px;
margin-left:5px;
margin-top:5px;
vertical-align:middle;
padding-top:3px;
padding-left:8px;
background-color:#F6FDFF;
border:1px solid;
border-color:#8195A0;
color:#668395;
font-family:Arial, Helvetica, ¡°ËÎÌå¡±}

.sub1_btn_save{
background-image:url(../images/sub1_btn_save.jpg);
background-repeat:no-repeat;
border:0px;
position:absolute; 
width:59px;
height:22px;
margin-top:12px;
margin-left:65px;
}

.sub1_btn_save_closed{
background-image:url(../images/sub1_btn_save_closed.jpg);
background-repeat:no-repeat;
border:0px;
position:absolute; 
width:83px;
height:22px;
margin-top:12px;
margin-left:65px;
}

.sub1_btn_save_add{
background-image:url(../images/sub1_btn_save_add.jpg);
background-repeat:no-repeat;
border:0px;
position:absolute; 
width:83px;
height:22px;
margin-top:12px;
margin-left:151px;
}

.sub1_btn_reset{
background-image:url(../images/sub1_btn_reset.jpg);
background-repeat:no-repeat;
border:0px;
position:absolute; 
width:59px;
height:22px;
margin-top:12px;
margin-left:237px;
}

.sub1_btn_hand{
background-image:url(../images/sub1_btn_hand.jpg);
background-repeat:no-repeat;
border:0px;
position:absolute; 
width:46px;
height:19px;
margin-top:12px;
margin-left:6px;
}

.sub1_btn_auto{
background-image:url(../images/sub1_btn_auto.jpg);
background-repeat:no-repeat;
border:0px;
position:absolute; 
width:46px;
height:19px;
margin-top:12px;
margin-left:54px;
}

