
.body_div{
	background-repeat:no-repeat;
	width:1002px;
	margin-top:10px;
}


.body_head{
	background-image:url(../images/orgstructure_con_tit_bg.jpg);
	background-repeat:no-repeat;
	width:80%;
	height:80%;
	top:20%;
	left:50%;
}

.body_text{
font-size:15px;
color:#0C5F8F;
font-weight:bold;
margin-top:16px;
margin-left:49px;
}

.body_foot{
background-image:url(../images/sub_foot_bg.jpg);
background-repeat:repeat-x;
position:absolute;
width:1002px;
height:46px;
left:0px;
margin-top:15px;
text-align:center;
padding-top:18px;
font-size:14px;
color:#E5F4FA;
}


.rmenu01{
background-image:url(../images/rmenu02_tit_bg.jpg);
background-repeat:no-repeat;
position:absolute;
left:840px;
top:5px;
width:298px;

}

.rmenu01_con{
padding-left:24px;
font-size:12px;
color:#666666;
margin-top:0px;
height:298px;
}

.rmenu01_con_user{
color:#0C92D1;
font-weight:bold;
text-decoration:underline;
margin-top:0px;
}

.rmenu01_con_date{
padding-top:5px;
text-indent:18px;
margin-top:0px;
}

.rmenu01_con_edit{
padding-top:5px;
color:#FF4000;
text-indent:18px;
margin-top:0px;
}

.rmenu01_con_indent{
padding-left:18px;}


.rmenu_tit{
width:179px;
height:35px;
color:#E0F2F9;
font-size:13px;
font-weight:bold;
padding-top:12px;
padding-left:45px;
margin-bottom:12px;
}

.rmenu02{
background-image:url(../images/rmenu02_tit_bg.jpg);
background-repeat:no-repeat;
position:absolute;
left:840px;
top:301px;
width:160px;
height:298px;
margin-top:5px;
}

.rmenu02_item_tit{
color:#0C5F8F;
font-weight:bold;
padding-top:5px;
padding-right:10px;
}

.rmenu02_item_con{
padding-top:3px;
padding-bottom:15px;
padding-left:15px;
}
