.sub1_con{
position:absolute;
top:30px;
left:95px;
font-size:12px;
color:#0C5F8F;
}
.sub1_title{
font-size:14px;
font-weight:bold;
color:#045381;
position:absolute; 
top:37px;
left:37px;}

.sub1_border{
width:150px;
height:20px;
margin-left:5px;
padding-left:8px;
background-color:#F6FDFF;
border:1px solid;
border-color:#8195A0;
color:#668395;
font-family:Arial, Helvetica, ¡°ËÎÌå¡±}


