a {
	text-decoration: none;
}

a.a_top:link {
	color: #0C6A9D;
}

a.a_top:active {
	color: #0280C5;
}

a.a_top:hover {
	color: #0280C5;
	text-decoration: underline;
}

a.a_top:visited {
	color: #0C6A9D;
}

a.edit:link {
	color: #FF4000;
}

a.edit:active {
	color: #FF4000;
}

a.edit:hover {
	color: #0C92D1;
	text-decoration: underline;
}

a.edit:visited {
	color: #FF4000;
}

.page_top {
	background-image: url(../images/bg_.jpg);
	background-repeat: no-repeat;
	width: 1002px;
	color: #0C6A9D;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	height: 80px;
}

.report_body {
	background-image: url(../images/sub_con_bg.jpg);
	background-repeat: repeat-x;
	width: 1002px;
	height: 500px;
	border: 0px solid red;
}

.page_top #logger {
	position: absolute;
	top: 5px;
	left: 20px;
	font-family: 'Arial Black';
	font-size: 36pt;
	color: #777777;
	letter-spacing: -2px;
}

.page_top #exit_help {
	position: absolute;
	top: 45px;
	left: 850px;
	font-size: 12px;
	font-weight: bold;
	color: #0C6A9D;
}

.page_top #softname {
	position: absolute;
	top: 35px;
	left: 126px;
	font-family: 'SimHei';
	font-size: 18pt;
	color: #000000;
	font-weight: bold;
}

.menu {
	background-image: url(../images/orgstructure_menu_bg2.gif);
	background-repeat: no-repeat;
	width: 1002px;
	height: 39px;
	float: none;
}

.menu .selected {
	background-image: url(../images/orgstructure_menu_bg_select.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-position: top;
	color: #0E5E8E;
	font-size: 14px;
	font-weight: bold;
	width: 138px;
	height: 39px;
	text-align: center;
	float: left;
	line-height: 39px;
	cursor: pointer;
}

.menu .item {
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	width: 138px;
	text-align: center;
	float: left;
	line-height: 39px;
	cursor: pointer;
}

.sub_menu {
	background-image: url(../images/orgstructure_menu_bg2.jpg);
	background-repeat: no-repeat;
	width: 1002px;
	height: 39px;
}

.sub_menu .item {
	color: #0C5580;
	font-size: 12px;
	font-weight: bold;
	width: 94px;
	text-align: center;
	float: left;
	line-height: 39px;
}

.mid_bg {
	background-image: url(../images/sub_con_bg.jpg);
	background-repeat: repeat-x;
	width: 1002px;
	height: 214px;
}

.lmenu {
	background-image: url(../images/lmenu_bg.jpg);
	background-repeat: no-repeat;
	height: 481px;
	margin: 15px 0px 0px 5px;
}

.lmenu div {
	width: 179px;
	height: 35px;
	color: #E0F2F9;
	font-size: 13px;
	font-weight: bold;
	padding-top: 12px;
	padding-left: 53px;
	margin-bottom: 12px;
}

.lmenu .item {
	background-image: url(../images/lmenu_item_bg.jpg);
	background-repeat: no-repeat;
	width: 167px;
	height: 32px;
	color: #0C6A9D;
	font-size: 13px;
	font-weight: bold;
	padding-top: 12px;
	padding-left: 53px;
	margin-left: 11px;
}

.lmenutree {
	clear: both;
	padding: 10px 0;
	line-height: 20px;
	text-align: left;
	overflow-x: auto
}

.lmenutree span {
	display: block;
	white-space: nowrap;
	padding-right: 0px;
}

.lmenutree ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	padding-left: 2px;
}

.lmenutree li {
	list-style: none;
	line-height: 20px;
	clear: both;
	float: left;
	width: 100%;
	cursor: pointer;
}

.lmenutree span.hot {
	line-height: 22px;
	font-weight: bold;
	background: url(mid_left_onclick.gif) no-repeat right top;
}

.lmenutree span.hover {
	line-height: 22px;
	font-weight: bold;
	background: #cbe4fc url(mid_left_onclick.gif) no-repeat right top;
}

.lmenutree span.blank {
	width: 10px;
	display: inline-block;
	padding-right: 0px;
}

.lmenutree span.clo {
	background: url(tree-clo.gif) no-repeat;
}

.lmenutree span.open {
	font-weight: bold;
	background: url(tree-open.gif) no-repeat;
}

.lmenutree span.hot {
	background: url(tree-clo.gif) no-repeat;
}

.lmenutree span.leefhot {
	line-height: 22px;
	background-image: url(../images/lmenu_item_bg.jpg);
	background-repeat: no-repeat;
	width: 167px;
	height: 32px;
	color: #0C6A9D;
	font-size: 13px;
	font-weight: bold;
	padding-top: 12px;
	padding-left: 53px;
	margin-left: 11px;
}

.lmenutree span.leef {
	line-height: 22px;
	background-image: url(../images/lmenu_item_bg.jpg);
	background-repeat: no-repeat;
	width: 167px;
	height: 32px;
	color: #0C6A9D;
	font-size: 13px;
	font-weight: bold;
	padding-top: 12px;
	padding-left: 53px;
	margin-left: 11px;
}

.lmenutree span.padding {
	display: block;
	width: 2px;
	height: 20px;
	float: left;
}

.menu_level1 {
	background-image: url(../images/menu_title1.gif);
	float: left;
	line-height: 26px;
	margin-top: 0px;
	height: 33px;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	padding-top: 6px;
	width: 136px;
}

.menu_level2_body {
	display: none;
	position: absolute;
	margin-top: 5px;
	width: 170px;
}

.menu_level2 {
	background-color: #CBE6F1;
	background-repeat: no-repeat;
	color: #0C6A9D;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	margin-left: 0px;
	margin-top: 5px;
	width: 150px;
	clear: both;
	float: left;
}

.menu_level3_body {
	display: none;
	position: absolute;
	width: 150px;
	margin-top: 0px;
}

.menu_level3 {
	background-color: #CBE6F1;
	background-repeat: no-repeat;
	color: #0C6A9D;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	clear: both;
	float: left;
}

.menu_rock {
	background-image: url(../images/rock.jpg);
	background-repeat: no-repeat;
	position: absolute;
	width: 4px;
	height: 7px;
	left: 120px;
	margin-top: -10px !important;
	margin-top: -5px;
}